/* 容器类，确保两个文本层叠加 */
.feathered-box {
    display: flex;
    position: relative;
    display: inline-block;
}

/* 没有羽化效果的文本容器 */
.text-container {
    display: flex;
    position: relative;
    z-index: 2;
    background-color: #9efffd;
    clip-path: inset(5 5 5 5);
    /* 裁剪边缘，使其与羽化背景匹配 */
}

/* .feathered-background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #f8ff77;
    filter: blur(14px);
    opacity: 0.9;
}
带有羽化效果的背景 */

.department-name {
    padding-top: 200px;
    display: flex;
    margin: 10px;
}

.bricksLetter {
    margin: 0;
    font-family: "bricks";
    fill: black;
    -webkit-text-stroke: 6px #ffffff;
    /* 设置8像素的黑色描边 */
    letter-spacing: 15px;
    font-size: 80px;

    align-items: center;
    /* 垂直居中 */
    text-align: center;
    /* 确保文本内容水平居中 */
    /* 设置背景颜色为浅黄色 */
    padding-top: 20px;
    /* 设置10像素的内边距 */
    padding-left: 20px;
    padding-right: 10px;

    display: inline-block;
    /* 使元素的宽度和高度自动适应内容 */
    position: relative;
    z-index: 2;

    background-color: #42ffff;
}