@font-face {
    font-family: 'bricks';
    src: url('fonts/bricksVF.ttf') format('truetype');
}


@font-face {
    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    src: url('../fonts/ABCDiatypeSemi-MonoVariable-Trial.woff2') format('woff2-variations'),
        url('../fonts/ABCDiatypeSemi-MonoVariable-Trial.woff2') format('woff2'),
        url('../fonts/ABCDiatypeSemi-MonoVariable-Trial.woff') format('woff'),
        url('../fonts/ABCDiatypeSemi-MonoVariable-Trial.ttf') format('truetype-variations'),
        url('../fonts/ABCDiatypeSemi-MonoVariable-Trial.ttf') format('truetype');
    font-weight: 100 900;
    /* 定义支持的字重范围 */
    font-style: normal;
    /* 定义字体样式 */
}

@font-face {
    font-family: 'ABC Diatype Mono Variable Unlicensed Trial';
    src: url('../fonts/ABCDiatypeMonoVariable-Trial.ttf') format('truetype');
    font-weight: 100 900;
    /* 定义支持的字重范围 */
    font-style: normal;
    /* 定义字体样式 */
}