body {
    margin: 0;
    padding: 0;
    width: 100vw;
    /* 确保body占据整个视口宽度 */
    height: 100vh;
    /* 确保body占据整个视口高度 */
    overflow-x: hidden;
    /* 防止水平滚动条出现 */
    background: #fbeaee;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* 确保子元素靠左对齐 */
}

#gamecontainer {
    /* border: 2px solid #4CAF50; */
    display: absolute;
    margin: 20px;
}

#story-text {
    border: 2px solid #4CAF50;
    text-align: left;
    /* 确保文本内容靠左对齐 */
    margin: 0;
    margin-bottom: 10px;
    /* 调整或去除多余的外边距 */
    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    z-index: 20;
}

#choices {
    border: 2px solid #4CAF50;
    display: flex;
    left: 0;
    top: 0;
    margin-bottom: 20px;

    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    z-index: 20;
}

.choice {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.choice:hover {
    background-color: #0056b3;
}

#wallet {
    margin-bottom: 10px;
    border: 2px solid #af4c96;
}


#new-game-button {
    display: fixed;
    bottom: 0px;
    left: 0px;
    padding: 30px;
    background-color: rgba(222, 187, 187, 0);
    border: 2px solid #4CAF50;
    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    font-size: 20px;
    font-weight: 300;
}

#new-game-button:hover {
    background-color: #ffcacf;
}

#right-corner {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    /* background-color: #007bff; */

}

#medical-records-button {
    display: fixed;
    bottom: 10px;
    left: 10px;
    padding: 30px;


    background-color: rgba(222, 187, 187, 0);
    border: 2px solid #4CAF50;
    cursor: pointer;
    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    font-size: 20px;
    font-weight: 300;
}

#medical-records-button:hover {
    background-color: #cdfcff;
}


#medical-records-container {

    width: 100vw;
    height: 100vh;
    background-color: #fef1ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    font-size: 20px;
    font-weight: 300;
}

#medical-records-header {
    display: flex;
    padding: 20px;
    margin-bottom: 80px;
    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    font-size: 70px;
    font-weight: 600;

}

#current-treatment,
#history-records {
    margin: 20px;
    margin-bottom: 80px;
    border: 2px solid #4CAF50;
    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    font-size: 16px;
    font-weight: 200;
}

.modal {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    /* 固定定位 */
    z-index: 100;
    /* 置于顶层 */
    left: 0;
    top: 0;
    overflow: auto;
    /* 如果需要滚动条 */
}


#close-button {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgba(222, 187, 187, 0);
    border: 2px solid #4CAF50;
    cursor: pointer;
    font-family: 'ABC Diatype Semi-Mono Variable Unlicensed Trial';
    font-size: 20px;
    font-weight: 300;
}

#close-button:hover,
#close-button:focus {
    background-color: #cdfcff;
    cursor: pointer;
}